body, html {
  padding: 0;
  margin: 0;
}

.header {
  background-color: #c0392b;
  box-shadow: 0px 7px 4px #bdc3c7;
  margin-bottom: 1em;
}
.header a {
  color: white;
  text-decoration: none;
}
.header a:hover {
  color: white;
}
.header h1 a {
  font-weight: lighter;
  font-size: 1.4em;
}
.header h1 {
  margin: 0.5em;
  text-align: center;
}
.header img {
  width: 14em;
  margin: 0 auto;
  display: block;
}
#loader {
  width: 4em;
  height: 4em;
  background: white;
  border-radius: 50%;
  float: right;
  position: relative;
  top: -4em;
}
/**
 * The loader animation
 */
.loaderEnable {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.menu ul li {
  background-color: #f39c12;
  font-size: 1.3em;
  margin-left: 0;
}
.menu ul li:hover {
  background-color: #e67e22;
  transition: 0.1s;
}
.menu ul li a {
  color: white;
  text-decoration: none;
}
.aside h2 {
  font-size: 1.3em;
  font-weight: bold;
  margin: 0.5em;
}
.aside p {
  font-size: 1.2em;
}
p {
  font-weight: lighter;
}
h2 {
  font-size: 1.8em;
  font-weight: bold;
  margin: 0.3em 0;
}
table {
  margin: 1em 0;
  text-align: left;
}
th {
  font-weight: bold;
  font-size: 1.2em;
  background-color: #2c3e50;
  color: white;
}
tr:nth-child(even) {
  background-color: #ecf0f1;
}
tr:nth-child(odd) {
  background-color: #bdc3c7;
}
th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.7em;
}
button {
  width: 10em;
  height: 3em;
  background-color: #bdc3c7;
  border: 2px solid #ecf0f1;
  border-radius: 0.6em;
  box-shadow: 0px 5px 16px #7f8c8d;
  font-size: 1.1em;
  margin: 0.6em 0;
  cursor:pointer;
}
button:focus {
  outline: none;
}
form input[type=text] {
  font-size: 1.3em;
  border: 1px solid #2c3e50;
  font-weight: lighter;
}
form input[type=mail] {
  font-size: 1.3em;
  border: 1px solid #2c3e50;
  font-weight: lighter;
}
form input[type=number] {
  font-size: 1.3em;
  border: 1px solid #2c3e50;
  font-weight: lighter;
}
form input[type=password] {
  font-size: 1.3em;
  border: 1px solid #2c3e50;
  font-weight: lighter;
}
form textarea {
  font-size: 1.3em;
  border: 1px solid #2c3e50;
  font-weight: lighter;
  width: 23em;
  height: 14em;
  resize: none;
}
form textarea:focus {
  outline: none;
}

form input[type=submit] {
  height: 3em;
  background-color: #bdc3c7;
  border: 2px solid #ecf0f1;
  border-radius: 0.6em;
  box-shadow: 0px 5px 16px #7f8c8d;
  font-size: 1.1em;
  margin: 0.6em 0;
  margin-bottom: 1.3em;
  cursor:pointer;
}
form input[type=submit] {
  outline: none;
}

form input[type=text]:focus, form input[type=number]:focus {
outline: 3px solid black;
transition: 0.4s;
}

form select {
  font-size: 1.3em;
  background-color: #ecf0f1;
  color: black;
  margin: 0.6em 0;
}
form select:focus {
  outline: none;
}
form label {
  display: block;
  font-size: 1.3em;
  margin-top: 1em;
  margin-bottom: 0.1em;
}
a {
  color: black;
  text-decoration: underline;
  font-size: 1em;
  font-weight: lighter;
}
a:hover {
  color: #2c3e50;
}

a:active {
  color: red;
}
ul, ol {
 list-style: inherit;
 margin: 1em 0;
}
ul li {
  margin-left: 2.3em;
  font-size: 1.2em;
  font-weight: lighter;
}
ol li {
  margin-left: 2.3em;
  font-size: 1.2em;
  font-weight: lighter;
}
.footer h1 {
  font-weight: lighter;
  font-size: 1.7em;
}
.center {
  margin: 0 auto;
  display: block;
  text-align: center;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .header h1 {
      margin: 0;
      text-align: left;
    }
    .header img {
      margin: 0;
      margin-bottom: 0.3em;
    }

}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  /* Tablet */

}
